	*{
		font-family: Arial, helvatica, sans-serif;
		box-sizing: border-box;
		}
	body{
		background-color: #49003d;
	}
  h1{
    color:White;
    text-align: center;
    font-size:3em;
    margin: 10px 0;
  }
	.form{
		overflow: hidden;
		margin: auto;
		width: 75%;
		padding: 25px;
		border-style: solid ;
		border-color: white;
		border-radius:30px 0px;
		background-color: #b69eb6;
		}
	p{
		text-align: center;	
		color: white;
		font-weight: 550;
	}
	.top p{
		font-weight: 700;	
		color: Black;
	}
	hr{
		margin-bottom: 30px;
		border: 2px solid black;
  	border-radius: 5px;
	}
	#question{
		display: flex;
    flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}
  .btnNormal {
  width: 70%;
  background-color: #49003d;
  color: white;
  padding: 15px 20px;
  margin: 15px;
  border: none;
  border-radius:9px; ;
  cursor: pointer;
  font-weight: 600;
  }
  .btnCorrect {
  width: 150px;
  background-color: green;
  color: white;
  padding: 15px 20px;
  margin: 15px;
  border: none;
  border-radius:9px; ;
  cursor: pointer;
  font-weight: 600;
	}
	.btnWrong {
  width: 150px;
  background-color: red;
  color: white;
  padding: 15px 20px;
  margin: 15px;
  border: none;
  border-radius:9px; ;
  cursor: pointer;
  font-weight: 600;
	}
#next {
  width: 40%;
  background-color: #0000b3;
  color: white;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  display: block;
  margin: auto;
  border: none;
  border-radius:9px; ;
  cursor: pointer;
  font-weight: 600;
	}
#next:hover {
    background-color: #000066;
  }
  #required{
  	color: red;
  }

  @media (min-width: 576px) {
    .form{
    overflow: hidden;
    margin: auto;
    width: 55%;
    padding: 25px;
    border-style: solid ;
    border-color: white;
    border-radius:30px 0px;
    background-color: #b69eb6;
    }
    
  }

  @media (min-width: 992px) {
    .form{
    overflow: hidden;
    margin: auto;
    width: 45%;
    padding: 25px;
    border-style: solid ;
    border-color: white;
    border-radius:30px 0px;
    background-color: #b69eb6;
    }
    
  }